footer {
  background-color: #373D44;
  font-size: 14px;
  padding: 40px 0;
  line-height: 30px;
}
footer hr {
  margin: 0 auto;
  height: 1px;
  width: 90%;
  background: radial-gradient(gray 24%, transparent 100%);
  border: none;
}
footer div.sec_01 {
  display: relative;
  overflow: hidden;
  zoom: 1;
  width: 80%;
  margin: 0 auto;
  color: #E5E5E5;
  letter-spacing: 0.58px;
}
footer div.sec_01 > div {
  float: left;
}
footer div.sec_01 > div:nth-child(1) {
  width: 35%;
}
footer div.sec_01 > div:nth-child(2) {
  width: 20%;
}
footer div.sec_01 > div:nth-child(3) {
  width: 20%;
}
footer div.sec_01 > div:nth-child(4) {
  width: 25%;
}
footer div.sec_02 {
  font-size: 12px;
  color: #b6b6b6;
  padding: 30px 0;
  text-align: center;
}
